* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* general */

header{
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav{
    background-color: white;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.btn{
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

.btn-blue{
    background-color: #1e45a8;
}

.btn-big{
    padding: 16px 32px;
    display: inline-block;
}

.btn-white{
    border: 1px solid black;
    color: black;
    background-color: white;
}

.col{
    float: left;
    width: 30%;
    border: 2px solid rgb(119, 118, 118);
    height: 600px;
}

.width-60{
    width: 60%;
    margin-top: 150px;
}

.width-80{
    width: 80%;
    margin-top: 150px;
}

.col-center{
    float: left;
    width: 30%;
    margin: 0% 5%;
    border: 2px solid rgb(119, 118, 118);
    height: 600px;
}

.top-col{
    text-align: center;
    border-bottom: 2px solid rgb(119, 118, 118);
    padding: 5px 10px;
    margin-top: 10x;
}


.content-text{
    font-size: 12px;
    padding: 10px 10px;
}

.content-text p{
    padding: 5px 10px;
}

.content-text h3{
    padding: 5px 10px;
}

.content-text h4{
    padding: 5px 10px;
}

.content-text a{
    padding: 5px 10px;
}

.under-col{
    width: 100%;
    margin-top: 20px;
    border: 2px solid rgb(119, 118, 118);
}

/*fine general*/

/* inizio header e nav */
.menù-sx{
    float: left;
    display: inline-block;
    width: 50%;
}

.menù-dx{
    float: right;
    display: inline-block;
    width: 50%;
    text-align: right;
}

.menù-dx ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

.menù-sx ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.logo{
    vertical-align: middle;
}

.menù-dx ul li:hover{
    border-bottom: 2px solid green;
}

.menù-sx ul li:hover{
    border-bottom: 2px solid green;
}

.menù-dx ul li:first-child{
    position: relative;
}

.under-window{
    width: 150px;
    position: absolute;
    background-color: white;
    display: none;
}

.menù-dx ul li a:first-child:hover + .under-window{
    display: block;
}

/* fine header e nav */

/* inizio jumbotron */
.jumbotron{
    background-color: #7d9cec;
    margin-top: 80px;
    width: 100%;
    height: 900px;
}

.jumbotron .row{
    width: 90%;
}

.row h1{
    margin-bottom: 50px;
    padding-top: 50px;
    font-size: 80px;
}

.jumbo-img{
    height: 700px;
    width: 800px;
}

.col-sx{
    float: left;
    width: 35%;
}

.col-dx{
    float: right;
    width: 57%;
}

.col-sx p{
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.fa-arrow-down{
    font-size: 50px;
}

/* fine jumbotron */


/*inizio fatturazione */


.width-60 h2{
    margin-bottom: 30px;
}

#ftr-annuale{
    display: inline-block;
    margin: 20px 10px;
}

#ftr-mensile{
    display: inline-block;
    margin: 20px 10px;
}

.fa-check{
    color: rgb(65, 65, 236);
}

.under-col .col-sx{
    width: 70%;
}

.under-col .col-dx{
    width: 30%;
    text-align: right;
}

/*fine fatturazione */

/*inizio contatto partner */

.partener .width-60 .row .col-sx{
    width: 60%;
}

.partener .width-60 .row .col-dx{
    width: 35%;
}

.partener .width-60 .row .col-sx img{
width: 100%;
}

/*fine contatto partner */

/* inizio parte business */

.col-sx-33{
    width: 30%;
    margin: 1% 1%;
    float: left;
}

.col-sx-33 img{
 width: 100%;
}

/* fine parte business */

/* inizio parte team */

.team .row{
    width: 100vw;
    height: 50vh;
    margin-top: 40px;
}

.team .row .col-sx-30{
    width: 30vw;
    float: left;
    height: 50vh;
}

.team .row .col-sx-40{
    width: 40vw;
    height: 50vh;
    float: left;
    overflow-y: scroll;
    background-color: rgb(219, 189, 189);
    padding: 30px 30px;
}

.col-sx-40 img{
    width: 30%;
    padding-bottom: 30px;
}


.border-bottom-20{
    border-bottom: 2px solid white;
    width: 20%;
    float: left;
    margin-bottom: 30px;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}

.img-sponsor{
    width: 15vw;
    height: 25vh;
    float: left;
    background-color: red;
    text-align: center;
}

.img-sponsor img{
    width: 50%;
    filter: invert();
    vertical-align: middle;
}

.background-lightgreen{
    background-color: rgb(123, 207, 123);
    border: 2vh solid rgb(203, 240, 213);
}

.background-purple{
     background-color: rgb(66, 24, 66);
}

.background-azzurro{
    background-color: lightblue;
}

.background-blue{
    background-color: blue;
}

.background-yellow{
    background-color: rgb(165, 165, 22);
}
/* fine parte team */

/* inizio background celeste*/

.width-60-2{
    width: 60%;
}

.background-lightblue{
    background-color: rgb(111, 111, 204);
}

.background-lightblue .width-60-2 .row .col-sx{
    width: 65%;
    float: left;
    color: rgb(66, 24, 66);
}

.background-lightblue .width-60-2 .row .col-dx{
    width: 35%;
    float: left;
}

.background-lightblue .width-60-2{
    padding: 100px 32px;
}

/* fine background celeste*/

/* inizio domande */

.domande .width-60 .row{
    border-top: 2px solid rgb(180, 176, 176);
    margin-top: 30px;
}

.domande .width-60 .row:last-child{
    border-bottom: 2px solid rgb(180, 176, 176);
    margin-top: 30px;
    padding-bottom: 30px;
}

.domande .width-60 .row .col-sx{
    width: 95%;
    float: left;
    padding: 20px 0px;
}

.domande .width-60 .row .col-dx{
    width: 5%;
    float: left;
    padding: 20px 0px;
    text-align: left;
}

.domande .width-60 .row p{
    display: none;
    float: left;
}

.domande .width-60 .row .col-dx:hover + p{
    display: block;
}

/* fine domande */

/* inizio footer */
footer{
    background-color: #23272A;
    height: 500px;
}

footer .width-80 .row{
  padding-top: 50px;
}

footer .width-80 .row .col-sx{
    width: 18%;
    float: left;
}

.menu-footer a{
    color: white;
}

.menu-footer li{
    margin-top: 5px;
    list-style: none;
}

.menu-footer li:first-child{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
}

.border-bottom-15{
    border-bottom: 2px solid white;
    width: 15%;
    padding: 20px 0px;
    margin-bottom: 20px;    
    float: left;
}

.menu-footer li a:hover{
    border-bottom: 1px solid white;
}


.language{
  color: white;
}
/* fine footer */